@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000;
  --background-start-color: #d6dbdc;
  --background-end-color: #fff;
}

::webkit-scrollbar {
  width: 6px !important;
}

::webkit-scrollbar-track {
  background: #f1f1f1;
}

::webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 9999px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #000;
    --background-start-color: #000;
    --background-end-color: #000;
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
    to bottom,
    rgba(var(--background-end-color), 1),
    rgba(var(--background-start-color), 1)
  );
}

@layer utilities {
  .text-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}
